<!-- https://www.google.com/search?q=%E3%81%8A%E3%81%97%E3%82%83%E3%82%8C%E3%81%AA%E3%83%9B%E3%83%BC%E3%83%A0%E3%83%9A%E3%83%BC%E3%82%B8%E3%80%80%EF%BD%83%EF%BD%93%EF%BD%93%E3%80%80%EF%BD%8A%EF%BD%93&tbm=isch&ved=2ahUKEwj0lLrj7cX6AhWFyosBHVtxAZIQ2-cCegQIABAA&oq=%E3%81%8A%E3%81%97%E3%82%83%E3%82%8C%E3%81%AA%E3%83%9B%E3%83%BC%E3%83%A0%E3%83%9A%E3%83%BC%E3%82%B8%E3%80%80%EF%BD%83%EF%BD%93%EF%BD%93%E3%80%80%EF%BD%8A%EF%BD%93&gs_lcp=CgNpbWcQAzoECCMQJzoHCAAQgAQQBDoJCAAQgAQQBBAYOgUIABCABDoHCAAQgAQQGFDvBFj6NmChO2gDcAB4AIABVYgB0gaSAQIxMZgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=r8Y7Y7SBC4WVr7wP2-KFkAk&bih=872&biw=871#imgrc=lUUHRvn_oILKfM
 -->



 {% extends 'base.html' %}
 {% load static %}
 {% block header %}
 <!DOCTYPE html>
 <!DOCTYPE html>
 <html lang="en" class="no-js">
   <!-- Head -->
   <head>
     <title>Home Page</title>
 
     <!-- Meta -->
     <meta charset="utf-8"/>
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <meta http-equiv="x-ua-compatible" content="ie=edge">
     <meta name="keywords" content="Bootstrap Theme, Freebies, UI Kit, MIT license">
     <meta name="description" content="Stream - UI Kit">
     <meta name="author" content="htmlstream.com">
     <link rel="shortcut icon" href="../../static/assets/favicon.ico" type="image/x-icon">
     <!-- Web Fonts -->
     <link href="//fonts.googleapis.com/css?family=Playfair+Display:400,700%7COpen+Sans:300,400,600,700" rel="stylesheet">
     <link href="//fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
 
     <!-- Bootstrap Styles -->
     <link rel="stylesheet" type="text/css" href="../../static/assets/vendors/bootstrap/css/bootstrap.css">
     <!-- Components Vendor Styles -->
     <link rel="stylesheet" type="text/css" href="../../static/assets/vendors/font-awesome/css/fontawesome-all.min.css">
     <link rel="stylesheet" type="text/css" href="../../static/vendors/slick-carousel/slick.css">

     <!-- Theme Styles -->
     <style type="text/css">
     </style>
  </head>
  {% endblock %}
  {% block contents %}
  <body>
   <header>
     <!-- Navbar -->
     <nav class="js-navbar-scroll navbar fixed-top navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="home-page.html">
          <img src="{% static '/assets/img/logo-white.png' %}" alt="Stream UI Kit" style="width: 100px;">
        </a>

        <button class="navbar-toggler" type="button"
                data-toggle="collapse"
                data-target="#navbarTogglerDemo"

                aria-controls="navbarTogglerDemo"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo">
          <ul class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item mr-4 mb-2 mb-lg-0">
              <a class="nav-link active" href="/">Back to UI Kit</a>
            </li>
          </ul>

          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item mr-4 mb-2 mb-lg-0">
              <a class="nav-link" href="home-page.html">Home</a>
            </li>
            <li class="nav-item mr-4 mb-2 mb-lg-0">
              <a class="nav-link" href="services.html">Services</a>
            </li>
            <li class="nav-item dropdown mr-4 mb-2 mb-lg-0">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About <i class="fas fa-angle-down small ml-1"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="about-us.html">About Us</a>
                <a class="dropdown-item" href="about-me.html">About Me</a>
              </div>
            </li>
            <li class="nav-item mr-4 mb-2 mb-lg-0">
              <a class="nav-link active" href="contacts.html">Contacts</a>
            </li>

            <!-- 付け足し -->
            <li class="nav-item mr-4 mb-2 mb-lg-0">
              <a class="nav-link" href="hm.html">test</a>
            </li>
            <!-- ここまで -->

          </ul>
          <div>
            <a class="btn btn-primary" data-toggle="modal" href="#callUsModal" href="#!">
              <i class="fas fa-phone-square mr-1"></i> Call Me
            </a>
          </div>
        </div>
      </div>
    </nav>
    <!-- <hr></hr><style>.hr{height:300px;background-color:blueviolet;border: none;color: #ff0000;}</style> -->
    <div class="area-header"></div><div class="index-min">
      <style>div.area-header{height:300px;}</style><input type="text" name="email" placeholder="Username"><input type="password" name="password" placeholder="Passsword">
    </div>




















   <!-- <body id="particles-js">
     <div class="animated">
       <div class="container">
         <span class="error animated tada" id="msg"></span>
         <form name="form1" class="box" onsubmit="return checkStuff()">
           <h4>hama<span>test</span></h4>
           <h5>Sign in to your account.</h5>
           <input type="text" name="email" placeholder="Username" autocomplete="off"  style="z-index:10">
           <i class="typcn typcn-eye" id="eye"></i>
           <input type="password" name="password" placeholder="Passsword" id="pwd" autocomplete="off">
           <a href="#" class="forgetpass">Forget Password?</a>
           <input type="submit" value="Sign in" class="btn1">
         </form>
           <a href="#" class="dnthave">Don’t have an account? Sign up</a>
     </div> 
   </div>
     <div class="area" >
       <ul class="circles">
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
       </ul>
   </div> -->
     <!-- JavaScriptファイル読み込み -->

   {% endblock %}
   </body>
 </html> 